<div class="container">
  <div class="row">
    <div class="col">
      <div class="display-6 my-3">Assignment</div>
      <div>
        I've been given the following assignment by an experienced frontend
        developer in order to build a showcase for my skills.
      </div>
      <h5 class="mt-5">Assignment details</h5>
      <div class="my-3">
        <div>
          Write a flight search that matches the following specification:
        </div>
        <div>
          <ul>
            <li>One should be able to add and delete cities</li>
            <li>
              One should be able to add and delete a connection between two
              cities
            </li>
            <li>
              One should be able to search for all flights that exist between
              two cities (including stopovers in other cities)
            </li>
          </ul>
        </div>
      </div>
      <h5 class="mt-5">Example 1</h5>
      <div class="my-3">
        <div><strong>Cities:</strong> London, Rome, Berlin</div>
        <div><strong>Connections:</strong> London -> Rome, Rome -> Berlin</div>
        <div>
          <strong>Expected search results for London -> Berlin:</strong> London
          -> Rome -> Berlin
        </div>
      </div>
      <h5 class="mt-5">Example 2</h5>
      <div class="my-3">
        <div><strong>Cities:</strong> London, Rome, Vienna, Berlin</div>
        <div>
          <strong>Connections:</strong> London -> Rome, Rome -> Berlin, London
          -> Berlin, Berlin -> London, London -> Vienna
        </div>
        <div>
          <strong>Expected search results for London -> Berlin:</strong> London
          -> Rome -> Berlin, London -> Berlin
        </div>
        <div>
          <strong>Expected search results for London -> Vienna:</strong> London
          -> Vienna
        </div>
      </div>
    </div>
  </div>
</div>
